*	
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	align-items: center;
	

}
.cover-bg
{
	
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.mt-20
{
	margin-top: 20px;

}
.mb-20{
	margin-bottom: 20px;

}
h1,h2,h3,h4{
	font-family: 'lato', sans-serif;
	color: #151515;
	font-weight: 700;

}
p{
	line-height: 1.6;
color: #777;

}
span, a{
	display: inline-block;
}
.banner{
	background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(7.jpg);
	background-attachment: fixed;
	height: 100vh;
	width: 100%;
}
.banner .caption h4{
	color: #fff;
	font-size: 20px;
	font-weight: 400;

}
.banner .caption h2{
	color: #fff;
	font-size: 70px;
	letter-spacing: -1px;
}
.banner .caption p{
	font-size: 17px;
	color: #fff;
	line-height: 32px;
	opacity: 0.7;

}
.banner .caption .social_icon a{
	color: #;
	width: 40px;
	height: 40px;
	line-height: 40px;
	border-radius: 50%;
	background-color: grey;
	text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
	font-size: 16px;
	transition: 0.5s all;
}

}
.banner .caption .social_icon a:hover{
	color: #1957f3;
}
